<nav>
  <div>
    <img src="./../assets/Logo - LabSignals.png" alt="" />
  </div>

  <div>
    <ul>
      <li><a routerLink="/intro">Introdução aos Signals</a></li>
      <li><a routerLink="/observables">Observables</a></li>
      <li><a routerLink="/effects-demo">Efeitos</a></li>
      <li><a routerLink="/elements">Interação entre Elementos</a></li>
    </ul>
  </div>

  <div class="images-deep">
    <img
      src="./../assets/Grafismo Molécula esquerda.png"
      alt=""
      class="img-left"
    />

    <img
      src="./../assets/Grafismo Molécula direita.png"
      alt=""
      class="img-right"
    />
  </div>

  <div class="element-container">
    <router-outlet name="list"></router-outlet> 
    <router-outlet name="details"></router-outlet> 
  </div>
</nav>

<div>
  <img
    src="./../../assets/Banner.png"
    alt="Descrição da Imagem"
    class="image-container"
  />
</div>

<router-outlet></router-outlet>